@import "@/style/colors.module";

.nav_drawer {
  width: 31.25rem;
  height: 100vh;
  position: absolute;
  background-color: $white-color;
  z-index: 8;
  left: -31.25rem;

  &[data-expanded="true"] {
    left: 0;

    @media (max-width: 768px) {
      width: 100vw;
    }
  }

  @media (max-width: 768px) {
    width: 0;
  }

  .nav_logo {
    display: block;
    width: 9.375rem;
    height: 9.375rem;
    position: relative;
    left: 0;
    right: 0;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
  
    img {
      width: 9.375rem;
      height: 9.375rem;   
    }
  }
}

.nav_menu {
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: all 0.5s ease-in;
  .nav_menu_item {
    text-align: center;
    display: block;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 2rem auto;
    text-transform: uppercase;
    color: $dark-color;
  }
  .nav_menu_item:after {
    transition: all ease-in-out 0.2s;
    background: none repeat scroll 0 0 $primary-color;
    content: "";
    display: block;
    margin-top: 0.390625vh;
    height: 0.390625vh;
    width: 0;
  }
  .nav_menu_item:hover:after {
    width: 100%;
  }
}
.nav_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  bottom: 3rem;
  width: 100%;
  transition: display 0.5s ease-in;
  transition-delay: 1s;
  .nav_footer_item {
    text-align: center;
    display: block;
    font-size: 1.56256rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-shrink: 0;
    margin: 0 1.5rem;
    color: $dark-color;
  }
  .nav_footer_item:hover {
    color: $primary-color;
    transition: color 0.2s ease-in;
  }
}
