@import "@/style/colors.module";

.nav_overlay {
  height: 100vh;
  background-color: $primary-color;
  position: fixed;
  opacity: 90%;
  top: 0;
  left: 0;
  z-index: 5;

  @media (max-width: 768px) {
    display: none;
  }
}
