@import "@/style/colors.module";

.appbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 3.5rem;
  right: 0;
  width: calc(100vw - 3.5rem);
  height: 3.5rem;
  z-index: 10;

  @media (max-width: 768px) {
    left: 0;
    width: 100vw;
  }

  .appbar_alias {
    position: absolute;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    @media (max-width: 768px) {
      display: none;
    }
  }
  
  .appbar_icon {
    display: none;
  
    @media (max-width: 768px) {
      display: block;
      position: absolute;
      right: 1rem;
    }
  }
}



