@import "@/style/colors.module";

#contact {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;

  .contact_header {
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    display: block;
    padding-top: 4.5rem;
    .contact_header_sub_title {
      display: block;
      text-align: center;
      color: $dark-color;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (max-width: 768px) {
        text-align: left;
      }
    }

    .contact_header_title {
      display: block;
      text-align: center;
      color: $primary-color;
      font-size: 4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (max-width: 768px) {
        text-align: left;
      }
    }

    @media (max-width: 768px) {
      flex: 0 1 auto;
      top: 6rem;
      left: 6rem;
      padding: 5.75rem 3.5rem 1.75rem;
      margin: 0;
    }

    @media (max-width: 425px) {
      top: 6rem;
      left: 1rem;
      padding: 5.75rem 1rem 1.75rem;

      .contact_header_sub_title {
        font-size: 1.5rem;
      }

      .contact_header_title {
        font-size: 2.5rem;
      }
    }
  }

  .contact_main {
    background-color: $primary-color;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(50vw - 3.5rem);
    padding: 3.5rem;
    margin-left: 3.5rem;
    margin-bottom: 79px;

    & > *:not(:last-child) {
      display: block;
      margin-bottom: 2.5rem;
    }

    .contact_main_title {
      color: $white-color;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .contact_main_description {
      display: block;
      color: $white-color;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .contact_main_buttons {
      display: inline-block;

      & > *:not(:last-child) {
        margin-right: 1.5rem;

        @media (max-width: 425px) {
          display: block;
          margin-bottom: 2.5rem;
        }
      }

      .contact_main_socials {
        & > *:not(:last-child) {
          margin-right: 1.5rem;
        }
      }
    }

    @media (max-width: 768px) {
      display: block;
      position: static;
      flex: 1 1 auto;
      width: 100vw;
      margin-left: 0px;
      margin-bottom: 51px;
    }

    @media (max-width: 425px) {
      padding: 3.5rem 1rem;
    }
  }

  .rive_container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    transform: translateY(-50%);
    aspect-ratio: 1440/485;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .contact_dots {
    position: absolute;
    bottom: 79px;
    right: 0;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
