@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/style/colors.module";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button {
  &.filled {
    background-color: $dark-color;
    display: inline-block;
    height: 40px;
    color: $white-color;
    padding: 8px 16px;
    border-radius: 40px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.875rem 3.5rem;
  z-index: 2;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  span {
    color: $dark-color;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.indicator {
  display: flex;
  position: fixed;
  width: 10px;
  flex-wrap: wrap;
  z-index: 3;
  margin: 72px 30px;

  & > *:not(:last-child) {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  &.top {
    top: 0;
  }

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }

  &.button {
    bottom: 0;
  }

  .dot {
    width: 8px;
    height: 8px;

    &.square {
      border: 1px solid $dark-color;
    }

    &[data-active="true"] {
      background-color: $dark-color;
    }
  }
}
